.gridnya-gan {
  display: grid;
  grid-template-columns: repeat(23, auto);
  grid-template-rows: repeat(8, auto) ;
  width: 99vw;
  height: 99vh;
  grid-gap: 10px;
  font-weight: bold;
}

.grid1 {
  grid-column: 1 / 12;
  padding: 0px 0px 10% 0px;
  background-color: #ffd700;
}

.grid2 {
  grid-column: 12 / 16;
  background-color: #ff8383;
  
}

.grid3 {
  grid-column: 16 / 20;
  background-color: #ff8383;
}

.grid4 {
  grid-column: 20 / 24;
  background-color: #ff8383;
}

.grid5 {
  grid-column: 1 / 19;
  grid-row-start: 2;
  background-color: #a1e1ff;
  padding: 0px 0px 3% 0px;
}

.grid6 {
  grid-column: 19 / 24;
  grid-row: 2 / 4;
  background-color: #ff9f51;
}

.grid7 {
  grid-column: 1 / 6;
  grid-row: 3 / 8;
  background-color: #66ff73;
}

.grid8 {
  grid-column: 6 / 19;
  grid-row: 3 / 5;
  background-color: #adadad;
  padding: 0px 0px 10% 0px;
}

.grid9 {
  grid-column: 19 / 24;
  grid-row: 4 / 6;
  background-color: #157e00;
}

.grid10 {
  grid-column: 6 / 19;
  grid-row: 5 / 8;
  background: url("subagja.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: local;
  color: #ffffff;
  padding: 0px 0px 10% 0px;
}

.grid11 {
  grid-column: 19 / 24;
  grid-row: 6 / 8;
  background-color: #ff4ed9;
}

.grid12 {
  grid-column: 1 / span 23;
  grid-row-start: 8;
  padding: 10px;
  color: #ffffff;
  background-color: #470101;
  font-family: Arial;
}